.Dictionary h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .Dictionary h1 {
     font-size: 18px;
    }
  }
  
  .Dictionary section {
    background: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    margin: 20px 0;
  }
  
  .Dictionary input {
    width: 100%;
    border-radius: 6px;
    padding: 6px 10px;
    color: #333;
    border: 4px solid #ddd;
  }
  
  .Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
  }